<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
    <script src="//unpkg.com/vue@3"></script>
    <script src="//unpkg.com/element-plus"></script>
    @await RenderSectionAsync("css", required: false)
</head>
<body>
    <main role="main">
        @RenderBody()
    </main>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    @await RenderSectionAsync("js", required: false)
</body>
</html>
