@{
    ViewData["Title"] = "首页";
}

<div id="app">
    <el-button @@click="goSync">{{ message }}</el-button>
</div>

@section js{
    <script>
        const app = Vue.createApp(
            {
                data() {
                    return {
                        message: "结构同步",
                    };
                },

                methods: {
                    goSync() {
                        location.href = "/home/presync";
                    }
                }
            }
        ).use(ElementPlus).mount("#app");
    </script>
}

